.App{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 300px;
  padding: 20px;

  background-color: rgb(155, 189, 33);
  opacity: 0.9;
  border-radius: 50px;
  

  
}

body{
  background-image: url(img/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}